@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600|Roboto:400,100,500|Quicksand:400,300,700|Varela);

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: rgb(238, 237, 237);
  background: #64aaa3;
}

a {
  color: white;
  text-decoration: none;
}

.first-section {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: center;
  -webkit-justify-content: center;
  background-color: black;
  height: auto;
  width: 100vw;
  overflow: hidden;
}

.first-section .me-first {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  background: url('../img/pic-first-section.jpg') right no-repeat;
  background-size: contain;
  width: 18vw;
  height: 50vw;
  margin-top: 5vw;
  margin-right: 2vw;
}

.first-section .text {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  color: white;
  margin-top: 3vw;
  font-size: 2vw;
}

.first-section .text div {
  align-self: center;
  -webkit-align-self: center;
}


#first {
  font-size: 3.2vw;
}

#second {
  color: #FF2D88;
  font-weight: bold;
  font-size: 2.1vw;
  font-family: 'Roboto', sans-serif;
  margin-top: -.5vw;
}

#third {
  font-size: 2.36vw;
  margin-top: -.5vw;
  width: 18.45vw;
}

#fourth {
  font-size: 1.5vw;
  max-width: 17.7vw;
  margin-top: 2vw;
  text-align: justify;
  text-justify: inter-word;
}

#fifth {
  font-size: 1.5vw;
  max-width: 17.7vw;
  margin-top: 3vw;
  text-align: justify;
  text-justify: inter-word;
}

#fifth span {
  font-size: 1.77vw;
}

.text .socials{
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: space-around;
  -webkit-justify-content: space-around;
  margin-top: 2vw;
  width: 17.7vw;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 1vw 0;
}


.second-section {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  width: 100vw;
  background: #404040;
  overflow: hidden;
}


.bpop-tech {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  width: 48vw;
  height: 47.5vw;
  margin: 5vw 4vw 0 0;
  border: 2px solid rgb(214, 214, 214);
}

.bpop-square {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  min-width: 23.84vw;
  min-height: 23vw;
}

.bpop-square#with-border {
  border-right: 1px solid white;
}

.bpop-tech p {
  max-width: 20vw;
  font-weight: 300;
  align-self: center;
  -webkit-align-self: center;
  font-size: 1.3vw;
}

.bpop-tech p span {
  font-weight:bold;
  font-size:2vw
}

.icons {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: space-around;
  -webkit-justify-content: space-around;
  align-items: flex-end;
  align--webkit-align-items-end;
  max-width: 21vw;
  margin-bottom: 1vw;
}

.icons img {
  width: 5vw;
  height: 100%;
}

.bpop-square#bpop-example1 {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  background-image: url("../img/bpop-example1.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 48vw;

}

.bpop-title {
  margin-top: 1vw;
  font-weight: bold;
  font-size: 2vw;
  align-self: center;
  -webkit-align-self: center;
  border-bottom: 1px solid white;
}

.icons {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  width: 30vw;
}


.me-second {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  background: url('../img/pic-second-section.jpg') right no-repeat;
  justify-content: center;
  -webkit-justify-content: center;
  background-size: contain;
  width: 40vw;
  margin-top: 10vw;
  margin-bottom: -2vw;
  height: 50vw;
}

.third-section {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  background: #64aaa3;
  width: 100vw;
  overflow: hidden;
}


.jump {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  align-self: center;
  -webkit-align-self: center;
  background-image: url('../img/jump.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 50vw;
  height: 20vw;
  overflow: hidden;
  border-bottom: 1px solid white;
}

.jump .icons {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  flex-direction: column;
  -webkit-flex-direction: column;
  height: 16vw;
  width: 5vw;
  align-self: flex-end;
  -webkit-align-self: flex-end;
  margin-right: 8vw;
  font-size: 2.5vw;
  justify-content: space-around;
  -webkit-justify-content: space-around;
}

.jump .icons a div {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  align-self: center;
  -webkit-align-self: center;
}

.jump .icons a div.fa-soundcloud span {
  font-size: 1vw;
  align-self: center;
  -webkit-align-self: center;
}

p {
  align-self: center;
  -webkit-align-self: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5vw;
}


.projects {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: space-around;
  -webkit-justify-content: space-around;
  align-self: center;
  -webkit-align-self: center;
  width: 80vw;
  height: 20vw;
  margin-bottom: 10vw;
}

.projects a p {
  border: none;
  font-size: 1vw;
  margin-left: 4.5vw;
}

.dela {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  width: 15vw;
  height: 15vw;
  background: white url('../img/dela.jpg') right no-repeat;
  background-size: contain;
  border-radius: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.22), inset 0 -2px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.guessthatsong {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  width: 15vw;
  height: 15vw;
  background: url('../img/guessthatsong.png') center no-repeat;
  background-size: cover;
  border-radius: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.22), inset 0 -2px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.memorygame {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  width: 15vw;
  height: 15vw;
  background: url('../img/memorygame.png') center no-repeat;
  background-size: cover;
  border-radius: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.22), inset 0 -2px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

footer {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: space-around;
  -webkit-justify-content: space-around;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  align-items: center;
  -webkit-align-items: center;
  background: #64aaa3;
  border-top: 1px solid white;
  width: 100vw;
  height: 5vw;
  overflow: hidden;
}

footer div {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: center;
  -webkit-justify-content: center;
  min-width: 20vw;
}
