@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600|Roboto:400,100,500|Quicksand:400,300,700|Varela);

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #eeeded;
  background: #64aaa3;
}

a {
  color: white;
  text-decoration: none;
}

.first-section {
  background: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  min-height: 610px;
  transition: all 100ms ease;
}

.first-section-content {
  display: flex;
  width: 90%;
  margin: 0 auto;
  align-self: center;
  justify-content: center;
}

.first-section-content .first-pic {
  height: 570px;
}

.first-section-content .content {
  list-style-type: none;
  width: 320px;
  margin: 0;
  padding: 0;
  text-align: -webkit-center;
}

.first-section-content .content li {
  width: 260px;
}

#first { font-size: 31.5px }

#second {
  color: #FF2D88;
  font-weight: bold;
  font-size: 28.1px;
}

#third-a {
  font-size: 37.9px;
  margin-top: -7px;
}

#third-b {
  font-size: 30.5px;
  margin-top: -6px;
}

#fourth {
  font-size: 18px;
  text-align: justify;
}

#fifth {
  font-size: 17px;
  text-align: justify;
}

#fifth span {
  font-size: 24.6px;
  letter-spacing: 0.5px;
}

.content .socials{
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: space-around;
  -webkit-justify-content: space-around;
  font-size: 25px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 5px 0;
  margin: 10px 0;
}

@media only screen and (max-width: 450px) {
  .first-section-content .content {
    width: 90%;
    margin: 0 auto;
    position: relative;
  }

  .first-section-content .first-pic {
    height: 370px;
    position: absolute;
    top: 620px;
    right: 0;
    opacity: .6;
  }

  .first-section-content .content li {
    width: 260px;
  }

  .content .socials{
    font-size: 35px;
  }

  #first   { font-size: 31.4px }
  #second  { font-size: 28px }
  #third-a { font-size: 37.7px }
  #third-b { font-size: 30.4px }
  #fourth  { font-size: 17px }
  #fifth   { font-size: 17px }
  #fifth span { font-size: 24.5px }
}

@media all and (orientation:landscape) {
  .first-section {

  }
}
